apiVersion: v1
kind: Secret
metadata:
  name: quay-config
  namespace: quay-enterprise
type: Opaque
stringData:
  config.yaml: |
    ALLOW_PULLS_WITHOUT_STRICT_LOGGING: false
    AUTHENTICATION_TYPE: Database
    DEFAULT_TAG_EXPIRATION: 2w
    FEATURE_USER_INITIALIZE: true
    SUPER_USERS:
      - quayadmin
    BROWSER_API_CALLS_XHR_ONLY: false
    FEATURE_USER_CREATION: false
    CREATE_NAMESPACE_ON_PUSH: true
    DISTRIBUTED_STORAGE_CONFIG:
      local_us:
        - {{ quayBackend }}
        - {{ ((quayBackendDefaults
             | combine(quayBackendRGWDefaults)
             | combine(quayBackendRGWConfiguration))
             if quayBackend == 'RadosGWStorage'
             else (quayBackendDefaults
             | combine(quayBackendLocalStorageConfiguration | default({})))
             if quayBackend == 'LocalStorage'
             else quayBackendDefaults)
             | to_nice_yaml(indent=2, width=50000) | indent(10) }}
    DISTRIBUTED_STORAGE_DEFAULT_LOCATIONS:
      - local_us

    ENTERPRISE_LOGO_URL: /static/img/RH_Logo_Quay_Black_UX-horizontal.svg
    FEATURE_BUILD_SUPPORT: false
    FEATURE_DIRECT_LOGIN: true
    FEATURE_MAILING: false
    REGISTRY_TITLE: Red Hat Quay
    REGISTRY_TITLE_SHORT: Red Hat Quay
    SETUP_COMPLETE: true
    TAG_EXPIRATION_OPTIONS:
      - 2w
    TEAM_RESYNC_STALE_TIME: 60m
    TESTING: false
    FEATURE_PROXY_STORAGE: {{ quayFeatureProxyStorage | bool | lower }}
    FEATURE_QUOTA_MANAGEMENT: {{ quayFeatureQuotaManagement | bool | lower }}
    MAXIMUM_LAYER_SIZE: {{ quayMaximumLayerSize }}
    DIRECT_OAUTH_CLIENTID_WHITELIST:
{% if oauth_client_ids | default([]) | length > 0 %}
{% for client_id in oauth_client_ids %}
      - "{{ client_id }}"
{% endfor %}
{% else %}
      []
{% endif %}
  clair-config.yaml: |
    indexer:
      airgap: true
      scanner:
        repo:
          rhel-repository-scanner:
            repo2cpe_mapping_file: "/data/repository-to-cpe.json"
        package:
          rhel_containerscanner:
            name2repos_mapping_file: "/data/container-name-repos-map.json"
    matcher:
      disable_updaters: true