[Unit]
Description=Metal3 HTTPD container

[Container]
ContainerName=httpd
Image={{ metal3_ironic_image }}
Pull=never
Pod=metal3-ironic.pod
User=1002:1003
DropCapability=ALL
Volume=metal3-ironic-shared:/shared
Environment=IRONIC_LISTEN_PORT=6385
Environment=HTTP_PORT=6180
Environment=LISTEN_ALL_INTERFACES=true
Environment=USE_IRONIC_INSPECTOR=false
Environment=PROVISIONING_IP={{ lzBmcIP }}
Exec=/bin/runhttpd

[Service]
Restart=always

[Install]
WantedBy=default.target
