---
apiVersion: aap.ansible.com/v1alpha1
kind: AnsibleAutomationPlatform
metadata:
  name: "{{ osacDefaults.aapName }}"
  namespace: "{{ osacDefaults.aapNamespace }}"
spec:
  controller:
    disabled: false
  eda:
    disabled: false
  hub:
    disabled: true
  lightspeed:
    disabled: true
  redis_mode: standalone
  route_tls_termination_mechanism: Edge
  image_pull_policy: IfNotPresent
  no_log: true
