apiVersion: v1
kind: Secret
metadata:
  name: {{ aap_config_name | default('config-as-code-ig') }}
  namespace: {{ aap_ns | default('ansible-aap') }}
type: Opaque
stringData:
{% if disconnected | default(true) %}
  AAP_PROJECT_ARCHIVE_URI: "http://{{ aap_archive_host | default(lzBmcIP) }}:{{ aap_archive_port }}/{{ aap_archive_filename }}"
{% endif %}
  REMOTE_CLUSTER_KUBECONFIG_SECRET_NAME: "{{ aap_kubeconfig_secret_name | default('vmaas-cluster-kubeconfig') }}"