---
apiVersion: aap.ansible.com/v1alpha1
kind: AnsibleAutomationPlatform
metadata:
  name: {{ aap_name | default('osac-aap') }}
  namespace: {{ aap_ns | default('ansible-aap') }}
spec:
  controller:
    disabled: {{ aap_controller | default(false) }}
  eda:
    disabled: {{ aap_eda | default(false) }}
  hub:
    disabled: {{ aap_hub | default(true) }}
  image_pull_policy: {{ aap_image_pull_policy | default('IfNotPresent') }}
  lightspeed:
    disabled: {{ aap_lightspeed | default(true) }}
  no_log: {{ aap_no_log | default(true) }}
  redis_mode: {{ aap_redis_mode | default('standalone') }}
  route_tls_termination_mechanism: {{ aap_route_tls_termination_mechanism | default('Edge') }}