---
apiVersion: addon.open-cluster-management.io/v1alpha1
kind: ManagedClusterAddOn
metadata:
  name: {{ addon }}
  namespace: {{ cluster_ns }}
spec:
  installNamespace: open-cluster-management-agent-addon