apiVersion: v1
kind: Secret
metadata:
  name: {{ discovery_host.name }}-bmc-secret
  namespace: infraenv
type: Opaque
data:
  username: {{ discovery_host.redfishUser | b64encode }}
  password: {{ discovery_host.redfishPassword | b64encode }}
