---
kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v2alpha1
mirror:
  operators:
    - catalog: {{ rh_operator_catalog }}:{{ rh_operator_catalog_version }}
      packages:
{% for operator in plugin.operators | default([]) %}
{% set additional_operator_names = operator.csvNames if (operator.csvMirror | default(false) | bool) else [] %}
{% for operator_name in [operator.name] + additional_operator_names %}
        - name: {{ operator_name }}
          defaultChannel: {{ operator.channel }}
          channels:
            - name: {{ operator.channel }}
              minVersion: {{ operator.init_version }}
              maxVersion: {{ operator.version }}
{% endfor %}
{% for pkg in operator.extraMirrorPackages | default([]) %}
        - name: {{ pkg }}
{% endfor %}
{% if operator.additionalImages | default([]) | length > 0 %}
  additionalImages:
{% for img in operator.additionalImages %}
    - name: {{ img }}
{% endfor %}
{% endif %}
{% if operator.blockedImages | default([]) | length > 0 %}
  blockedImages:
{% for img in operator.blockedImages %}
    - name: {{ img }}
{% endfor %}
{% endif %}
{% endfor %}
