{% set catalog_image = rh_operator_catalog ~ ':' ~ rh_operator_catalog_version %}
{% if (plugin.catalog | default("")) == "certified" %}
{% set catalog_image = certified_operator_catalog ~ ':' ~ certified_operator_catalog_version %}
{% endif %}
---
kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v2alpha1
mirror:
  operators:
    - catalog: {{ catalog_image }}
      packages:
{% for operator in plugin.operators | default([]) %}
{% set additional_operator_names = operator.csvNames if (operator.csvMirror | default(false) | bool) else [] %}
{% for operator_name in [operator.name] + additional_operator_names %}
        - name: {{ operator_name }}
          defaultChannel: {{ operator.channel }}
          channels:
            - name: {{ operator.channel }}
              minVersion: {{ operator.init_version }}
              maxVersion: {{ operator.version }}
{% endfor %}
{% for pkg in operator.extraMirrorPackages | default([]) %}
        - name: {{ pkg }}
{% endfor %}
{% endfor %}
